*{
    font-family: "Merriweather";
}
.intro{
    margin: 0px;
    margin-bottom: 44px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    
}
.container{
    margin: 100px;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
    margin: 0px;
    margin-bottom: 100px;
}
.searchBar{
    display: flex;
    align-items: center;
    padding: 16px;
    padding-right: 206px;
    border: solid 1px black;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;  
    opacity: 0.7;
    margin: 0px;
    margin-right: 400px;
}
.search_icon{
    width: 32px;
    height: 32px;
}
.Categories{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.Categories_item{
    display: flex;

    margin: 12px 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}
.Categories_item:hover{
    width: 115px;
    height: 56px;
    
    background: #849FFF;
    border-radius: 8px;
}

.Member{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.memberCard{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 327px;
    height: 208px;
    background: #FBFCFF;
    border-radius: 16px;
}
.memberImage img{
    width: 97px;
    height: 97px;
    border-radius: 50%;
}
.memberName{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #151B32;
}
.memberHomeTown{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151B32;
}
.memberAttributes{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 0px;
    gap: 10px;
    margin: 0px;
    margin-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #516FD5;
}
.memberAttributes div{
    box-sizing: border-box;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;  
    background: #FFFFFF;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
}

.memberCard:hover{
    background: #FBFCFF;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;
}