.container {
    display: flex;
    justify-content: space-between;
}

.table-wrapper {
    position: relative;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: black;
}

.missing-cell {
    background-color: #ddd;
}

.cell-highlight {
    background-color: yellow;
    position: absolute;
    border: 1px solid black;
    padding: 1;
}

/* style here */
#cell-block1 {
    right:2px;
    bottom:2px;
}

#cell-block2 {
    right:2px;
    top:1.3px;
}

#cell-block3 {
    bottom:2px;
    left:2px;
}

#cell-block4 {
    /* top:69px;
    left:69px; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}