.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {}

#todo-list {
    list-style: none;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.delete-btn {
    width: 36px;
    height: 36px;
}